.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mt-25-important {
  margin-top: 25px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.vm-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.vp-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-300 {
  padding-top: 300px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-250 {
  padding-bottom: 250px;
}

.pb-300 {
  padding-bottom: 300px;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold,
.extrabold {
  font-weight: 800;
}

.max-width img,
img.max-width {
  max-width: 100%;
  height: auto !important;
}

@media (max-width: 767px) {
  .responsive-image {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .pb-70 {
    padding-bottom: 35px;
  }

  .pb-80 {
    padding-bottom: 40px;
  }

  .pb-90 {
    padding-bottom: 45px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .pb-150 {
    padding-bottom: 75px;
  }

  .pb-200 {
    padding-bottom: 100px;
  }

  .pb-250 {
    padding-bottom: 125px;
  }

  .pb-300 {
    padding-bottom: 150px;
  }

  .pt-70 {
    padding-top: 35px;
  }

  .pt-80 {
    padding-top: 40px;
  }

  .pt-90 {
    padding-top: 45px;
  }

  .pt-100 {
    padding-top: 50px;
  }

  .pt-150 {
    padding-top: 75px;
  }

  .pt-200 {
    padding-top: 100px;
  }

  .pt-250 {
    padding-top: 125px;
  }

  .pt-300 {
    padding-top: 150px;
  }

  .mb-70 {
    margin-bottom: 35px;
  }

  .mb-80 {
    margin-bottom: 40px;
  }

  .mb-90 {
    margin-bottom: 45px;
  }

  .mb-100 {
    margin-bottom: 50px;
  }

  .mt-70 {
    margin-top: 35px;
  }

  .mt-80 {
    margin-top: 40px;
  }

  .mt-90 {
    margin-top: 45px;
  }

  .mt-100 {
    margin-top: 50px;
  }
}

.white-font {
  color: #fff;
}

.black-font {
  color: #252525;
}

.grey-font {
  color: #919191;
}

.orange-font {
  color: #f26f21;
}
