body {
  overflow-x: hidden;
}

.button {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.padding-8 {
  padding: 0 8px;
}

.fluid-container {
  padding: 0 15px;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.main-title {
  text-align: center;
  padding: 20px;
  font-weight: 100;
  /*border-top: 1px dashed #9c0d07;
    border-bottom: 1px dashed #9c0d07;*/
  margin: 20px -15px;
  font-size: 30px;
  min-height: 73px;
}

.main-menu,
.location-menu {
  list-style-type: none;
  padding: 0;
  transition: all ease-in-out 200ms;
  overflow: hidden;
  position: relative;
}

.location-menu {
  border-top: 1px dashed gray;
  padding-top: 20px;
}

.main-menu .open-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 41px;
  cursor: pointer;
  color: transparent;
}

.main-menu .open-toggle:before {
  display: block;
  content: '';
  height: 1px;
  width: 12px;
  position: absolute;
  top: 21px;
  left: 19px;
  background-color: #901515;
}

.main-menu .open-toggle:after {
  display: block;
  content: '';
  width: 1px;
  height: 12px;
  position: absolute;
  top: 16px;
  left: 24px;
  background-color: #901515;
  transition: all 400ms;
}

.main-menu .opened > .open-toggle:after {
  height: 1px;
  top: 21px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -ms-transition: all 400ms;
  transition: all 400ms;
}

.main-menu li,
.location-menu li {
  padding: 0;
  margin: 0;
  position: relative;
}

.location-menu li a,
.main-menu li a {
  display: block;
  /* background-color: white; */
  color: black;
  padding: 10px 20px;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  cursor: pointer;
}

.main-menu li ul li a {
  padding-left: 40px;
}

.main-menu li ul ul li a {
  padding-left: 60px;
}

.main-menu .closed ul {
  max-height: 0;
}

.main-menu .opened ul {
  max-height: 1500px;
}

.main-menu ul.closed {
  max-height: 0 !important;
}

.main-menu .opened > ul {
  max-height: 1500px !important;
}

.main-content-container {
  width: 100%;
  float: left;
  padding-left: 300px;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  transition: all ease-in-out 200ms;
}

@media only screen and (max-width: 820px) {
  .main-content-container {
    padding-left: 0;
  }
}

.main-content-container.full {
  padding-left: 0;
}

.main-content-container-inner {
  min-height: calc(100vh - 68px);
}

.logo {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  color: rgb(55, 58, 60);
  position: relative;
  -webkit-transition: all ease-in-out 100ms;
  -moz-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
  color: #9c0d07 !important;
  text-decoration: none !important;
}

.logo img {
  max-width: 160px;
}

.logo:hover {
  color: #9c0d07;
}

.nav-icon {
  position: fixed;
  font-size: 16px;
  font-weight: 100;
  line-height: 1;
  padding: 5px;
  color: white !important;
  bottom: 10px;
  left: 10px;
  z-index: 10000;
  cursor: pointer;
  background-color: #901515;
  border-radius: 4px;
  text-transform: uppercase;
  opacity: 1;
  text-shadow: none !important;
}

.nav-icon.close {
  opacity: 1;
}

.sidebar {
  float: left;
  width: 300px;
  max-width: 100%;
  height: 100vh;
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  transition: all ease-in-out 200ms;
  /*border-right: 1px dashed #9c0d07;*/
  background-color: #fff;
  z-index: 120;
  left: 0;
  padding-bottom: 20px;
}

.sidebar.close {
  left: -100%;
}

@media only screen and (max-width: 820px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar-title {
  font-weight: 100;
  /*border-top: 1px dashed #9c0d07;
    border-bottom: 1px dashed #9c0d07;*/
  margin: 20px 0;
  text-align: center;
  font-size: 30px;
  line-height: 84px;
  color: #9c0d07;
}

.search-container {
  padding: 0 20px 20px 20px;
}

@media only screen and (max-width: 820px) {
  .search-container {
    display: none;
  }
}

.search-container input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  line-height: 33px;
  padding: 5px;
  border: 1px dashed gray;
  outline: none;
  border-radius: 4px;
}

.thumbnail {
  position: relative;
  height: 1px;
  width: 100%;
  overflow: hidden;
}

.chrome .thumbnail {
  visibility: hidden;
}

.thumbnail img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.stitch-items {
  text-align: center;
}

.stitch-tile-container {
  display: inline-block;
  width: 230px;
  margin: 10px;
  border: 1px dashed rgb(136, 136, 136);
  border-radius: 4px;
  transition: all ease-in-out 200ms;
  position: relative;
}

.stitch-tile-container a {
  color: black;
}

.stitch-tile-container:hover {
  box-shadow: 0 10px 24px -5px #7b7b7b;
  border: 1px dashed #fff;
}

.stitch-container {
  position: relative;
  min-height: 230px;
}

@media (max-width: 1480px) {
  .stitch-container {
    padding: 0 20px;
  }
}

.stitch-container.tile {
  cursor: pointer;
}

.stitch-container.full {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 300px;
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.full .stitch-container.full {
  margin-left: 0;
}

@media only screen and (max-width: 820px) {
  .stitch-container.full {
    margin-left: 0;
  }
}

.stitch-slick-container {
  padding: 0 0px;
  position: relative;
  margin-bottom: 30px;
}

@media only screen and (min-width: 1200px) {
  .stitch-slick-container {
    min-height: 400px;
  }
}
.stitch-type {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: #a1c5bc;
  border-radius: 6px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}

.stitch-container:hover .stitch-type {
  opacity: 1;
}

.stitch-slick-container .play {
  position: absolute;
  bottom: 3px;
  right: 36px;
  width: 30px;
  height: 30px;
  background-color: black;
  overflow: hidden;
  color: transparent;
  border-radius: 4px;
}

.stitch-slick-container .play .icon {
  width: 22px;
  height: 13px;
  border-top: 7px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 7px solid transparent;
  position: absolute;
  top: 8px;
  left: 11px;
}

.stitch-slick-container .pause {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  background-color: white;
  overflow: hidden;
  color: transparent;
  border-radius: 4px;
}

.stitch-slick-container .pause .icon {
  width: 9px;
  height: 15px;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  position: absolute;
  top: 8px;
  left: 11px;
}

.stitch-big-title {
  position: relative;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-weight: 300;
}

.stitch-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}

.stitch-close {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: gray;
  width: 30px;
  height: 30px;
  display: block;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-color: #252525;
  background: -webkit-linear-gradient(
      -45deg,
      transparent 0%,
      transparent 46%,
      white 46%,
      white 56%,
      transparent 56%,
      transparent 100%
    ),
    -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white
          56%, transparent 56%, transparent 100%);
  background-color: #252525;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
  color: transparent;
  border-radius: 4px;
}
.stitch-title {
  position: absolute;
  bottom: 20px;
  left: 40px;
  right: 30px;
  width: calc(100% - 80px);
  background-color: #ffffff;
  padding: 5px 15px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  font-weight: 300;
  font-size: 16px;
  border-radius: 3px;
  line-height: 15px;
  padding: 8px 8px;
  -webkit-transition: all ease-in-out 180ms;
  -moz-transition: all ease-in-out 180ms;
  transition: all ease-in-out 180ms;
}
.stitch-container:hover .stitch-title {
  bottom: 23px;
}
.stitch-title-border {
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px dashed black;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 3px;
}
.stitch-text-content {
  font-weight: 300;
  padding: 15px 0;
}
.stitch-text-content h1 {
  font-weight: inherit;
}
.no-result {
  text-align: center;
  font-size: 25px;
  padding: 40px;
}
.tags {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tags a {
  color: white;
}
.footer {
  position: relative;
  z-index: 10;
  background: #901515;
  background-color: #901515;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 4px;
}
.footer a {
  color: white;
}
.footer-date {
  float: right;
  display: none;
}
.footer-border {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 100%;
  border-top: 1px dashed white;
  border-left: 1px dashed white;
  border-right: 1px dashed white;
  border-radius: 4px;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 10000;
  display: block;
}
.progress-bar-value {
  width: 0%;
  background-color: #901515;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: all ease-in-out 50ms;
  -moz-transition: all ease-in-out 50ms;
  transition: all ease-in-out 50ms;
}
.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before {
  display: block;
  position: absolute;
  content: '';
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  from {
    left: -200px;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 80%;
  }
  to {
    left: 100%;
  }
}
.map-container {
  text-align: center;
  position: relative;
  max-width: 100%;
  width: 1300px;
  margin: 0 auto 50px;
}
.map {
  max-width: 100%;
}
.map-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
@media only screen and (max-width: 1550px) {
  .map-menu {
    position: relative;
    text-align: center;
  }
}
.map-menu .location-menu li a {
  font-size: 20px;
  text-decoration: none;
}
.location-menu li a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 15px;
  vertical-align: middle;
  transition: all ease-in-out 200ms;
}
.map-menu .location-menu li a:hover span {
  width: 25px;
}
.map-menu .location-menu li a {
  padding: 6px 20px;
}
.howTo,
.application,
.location {
  margin-bottom: 15px;
}
.icon-scroll-container {
  display: none;
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.25);
  position: absolute;
  width: 44px;
  height: 74px;
  top: 50%;
  left: 50%;
  border-radius: 32px;
  margin: -35px -22px;
  -webkit-animation: cssHideAnimation 5s forwards;
  animation: cssHideAnimation 5s forwards;
}
@keyframes cssHideAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .icon-scroll-container {
    display: block;
  }
}
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
  pointer-events: none;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
.icon-scroll-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 40px -18px;
  color: white;
  text-shadow: black 0px 0px 5px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.language-selector {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
}
.language-selector li {
  margin: 0;
  padding: 0 5px 5px;
  display: inline;
}
.language-selector li a {
  color: #be1d2c;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
}
.language-selector li a:before {
  content: '';
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 8px;
  left: -10px;
  width: 18px;
  height: 18px;
}
.language-selector li a.cs-cz:before {
  background-image: url(./Images/flags/czech-republic.png);
}
.language-selector li a.en-us:before {
  background-image: url(./Images/flags/united-kingdom.png);
}
.text-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.text-page img {
  max-width: 100%;
}
